* {
  box-sizing: border-box;
}

/*hero placement*/
.banner{
    min-height: 250px;
      min-width: 500px;
      display: flex;
      width: 100%;
      padding: 0px;
      background-color: #ef626c;
      background-repeat: no-repeat;
      background-size: 100%;
      font-size: 100%;
      overflow:hidden;
}

/*hero/header/profile styling*/

.banner img{
    border-radius: 100%;
    margin-top:50px;
    margin-left:25px;
}
h1{
  color:#bbb6df;
  margin-top:80px;
  margin-left:30px;


}
h4{
  font-size:30px;
}

h5{
    font-size: 15px;
    color: #bbb6df;
    margin-top:10px;
    margin-left:30px;
}
h6{
  font-size:30px;
  margin-top:30px;
  margin-bottom:0px;
  margin-left:50px;
}

h7{
  font-size:25px;
  margin-top:30px;
}

/*menu modify with links*/
.set a{

 justify-content:center;
 position: relative;
 color: #8c57fd;
 font-size: 1.2em;
 margin: 20px;
 font-weight: 500;

}       


/*header/hero/profile image modification*/

div img:hover{
  height: 100px;
  width:100px;
  border-radius: 65px;
  box-shadow: 0px 0px 20px 5px black;
  animation-name: smithanimated;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}

/*links to the catagories of the page,left side*/

.menu {
 margin-top:-0px;
 padding-bottom:954.5px;
  display:grid;
  background-color:#2c0e37;
  float: left;
  width: 20%;
  font-size: large;
  
}
/*main part , information body part*/

.main {
  border:solid;
  border-color:#2c0e37;
  float: left;
  width: 60%;
  padding: 46.5px 20px;
  overflow: hidden;
}

/*contact info on the right side*/

.right {
  display:grid;
  background-color: #2c0e37;
  float: right;
  width: 20%;
  padding: 10px 15px;
  margin-top: -10px;
  padding-bottom:650.5px;
}
 
/*media queries and screen shifting */

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right, header .banner{
    width: 100%;
  }
}

/*BACK TO TOP*/

.back-to-top{
  position:fixed;
  bottom:2rem;
  right:2rem;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  background-color:#dc143c;
  border-radius:0.5rem;
  padding:0.5rem;
  text-decoration:none;
  transition:0.2s ease-out;
}

/*BTT styling*/

.back-to-top span {
  color:#fff;
  font-size:3rem;
  transition:0.2 ease-out;
}

.back-to-top:hover {
  background-color:#be1a3b;

}

.back-to-top:hover span{
  transform: translateY(-4px);
}

/*BTT SCROLL SMOOTH*/

html {
  scroll-behavior: smooth;
}